{{#if isFileUploaded}}
<h1>New file added</h1>
{{else}}
<h1>Upload Error</h1>
{{/if}}

<div class="row">
    <div class="col s4">
        <a href="/">Home Page</a>
    </div>
    <div class="col s4">
        <a href="/showAll">All Files</a>
    </div>
</div>