.HistoryComponent{
    margin: 20px 0px 10px 0px;


    h3, button{
        margin-left: 10px;
    }

    h6{
        cursor: pointer;
    }

    .list-wrapper{
        margin-top: 20px;
        overflow: auto; 
        max-height: 500px; /* Высота блока */

        span{
            margin-right: 5px !important;
            margin-left: 5px !important;
        }

        h6{
            // height: 30px !important;
            margin: 5px 0 5px 0;
            padding: 5px 0 5px 0;
            display: flex;
            justify-content: space-between;
        }

        h6:hover{
            background: #b8b6b6;
        }
    }
}
