{{!-- <h1>{{message}}</h1> --}}
<div class="container">
    <div class="row">
        <h5>{{message}}</h5>

        {{#if isLink}}<h5><a href={{link}}>{{linkTitle}}</a></h5>
        {{/if}}
    </div>


</div>