<h1>Registration Page</h1>

<form action="/check/checkForm" method="post">
    <label>Имя</label><br>
    <input type="text" name="userName" /><br><br>
    <label>email</label><br>
    <input type="text" name="email" /><br><br>
    <label>Пароль</label><br>
    <input type="password" name="password" /><br><br>
    <input type="submit" value="Отправить" />
</form>